.tab-main{
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    .tab-container{
        background-color: rgba(128, 0, 128, 0.349);
        backdrop-filter: blur(12px);
        color: wheat;
        width: fit-content;
        padding: 8px 16px;
        border-radius: 32px;
        display: flex;
        gap: 16px;
        .button{
            padding: 8px 16px;
            background-color: rgba(255, 255, 255, 0.301);
            border-radius: 32px;
            color: black;
            cursor: pointer;
            transition: ease-in 0.2s;
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 24px;
            &:hover{
                background-color:  rgba(255, 255, 255, 0.644);
            }
        }
    }
}